/*
##############################################
##############################################
######                                  ######
######    Animations for Components     ######
######                                  ######
##############################################
##############################################
*/

/* Fade-in utility */
.fade-in-from-right {
    opacity: 0;
    transform: translateX(20px);
    animation: fadeIn 1s ease-out forwards;
}

.fade-in-from-left {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*
##############################################
##############################################
######                                  ######
######            General               ######
######                                  ######
##############################################
##############################################
*/
html {
    background-color: #001832;
    color:  #FFD200
}

/* Table: Start */
table {
    border-collapse: separate;
    border-spacing: 0;
    inline-size: 100%;
    max-inline-size: 1300px;
    margin: 0 auto;
    text-align: left;
}

th, td {
    padding: 0.5rem;
    border-block-end: 1px solid black; 
    border-inline-end: 1px solid black; 
    color: black;
}


td:nth-of-type(5) {
    text-overflow:clip;
}

table tr td:first-child, 
table tr th:first-child {
    border-inline-start: 1px solid black; 
}

table tr th {
    border-block-start: 1px solid black; 
}

table tr:first-child th:first-child {
    border-top-left-radius: 0.5rem;
}

table tr:first-child th:last-child {
    border-top-right-radius: 0.5rem;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
/* Table End */

/* Button: Start */
button {
    background-color: #FFD200;
    color: #001832;
    min-inline-size: 100px;
    border-radius: 5px;
    border: 1px solid black;
}

button:hover, button:active {
    background-color: #fdea94;
    color: #13559b;
}

button:disabled {
    background-color: #9b7f02;
    color: #101d2b;
}
/* Button: End */

/* Input: Start */
input {
    color: #181414;
    background-color: #e8d8c9;
    min-inline-size: 150px;
    border-radius: 5px;
    border: 1px solid #4b607f;
    padding-inline: 10px;
}
/* Input: End */

/* Links: Start */
/* Links: End */

/* Feedback: Start */
.feedback {
    text-align: center;
}

.feedback.fail, .feedback .fail {
    color: pink;
}

.feedback.success, .feedback .success {
    color: green;
}
/* Feedback: End */

/* Loader: Start */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    margin: 50px auto;   /* center horizontally */
}

.loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
}

.loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
/* Loader: End */

.component {
    border: 1px solid black;
    border-radius: 5px;
}

/* Image: Start */
img {
    object-fit: cover;
}
/* Image: End */

/*
##############################################
##############################################
######                                  ######
######            Header                ######
######                                  ######
##############################################
##############################################
*/
header {
    border-radius: 0 !important;
    background-color: #FFD200;
    padding-block-start: 10px;
    padding-inline-start: 20px;
    padding-block-end: 5px;
    border-block-end: 5px solid rgb(150, 3, 3);
    z-index: 10;

    /* Position */
    position: sticky;
    inset-block-start: 0;

    /* As Flex Parent */
    display: flex;
    flex-direction: row;
}

/* Header's 1st child: Start */
header > img {
    inline-size: 100px;
}
/* Header's 1st child: End */

/* Header's 2nd child: Start */
header nav {
    margin-block-start: auto;

    /* As Flex Child */
    flex-grow: 1;
}

/* Header's 2nd child ON Tablet and Larger: Start */
header nav ul {
    /* As Flex Parent */
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

header nav ul li {
    display: contents;
}

header nav ul li a {
    /* Block */
    background-color: #001832;
    border: 1px solid #FFD200;
    padding-inline: 5px;
    padding-block: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.05rem;
    color:  #FFD200;
    text-align: center;

    /* As Flex Child */
    flex-basis: 90px;
}

header nav ul li a:focus, 
header nav ul li a:hover {
    background-color: #002d5e;
    border: 2px dashed #FFD200;
}

header nav ul li a:active {
    background-color: #045cb9;
    border: 1px dashed red;
}
/* Header's 2nd child ON Tablet and Larger: End */

/* Header's 2nd child ON MOBILE: Start */
header nav section button {
    display: block;
    background-color: #001832;
    border: 1px solid #FFD200;
    padding-inline: 5px;
    padding-block: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.05rem;
    color:  #FFD200;
    text-align: center;
    margin-inline-start: auto;
    margin-inline-end: 20%;
}

header nav section button:focus, 
header nav section button:hover {
    background-color: #002d5e;
    border: 2px dashed #FFD200;
}

header nav section button:active {
    background-color: #045cb9;
    border: 1px dashed red;
}
/* Header's 2nd child ON MOBILE: End */
/* Header's 2nd child: End */

/* Navigation bar for mobile: Start */
body {
    position: relative;
}

section.mobile-navigation {
    /* Position full screen */
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    z-index: 1000;

    /* Overlay background */
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent backdrop */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Hide by default */
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Menu content box */
section.mobile-navigation .menu-content {
    background-color: #FFD200; /* white card */
    color: #000;
    inline-size: 90%;
    max-inline-size: 400px;
    max-block-size: 90vh;
    overflow-y: auto;
    border-radius: 8px;
    padding: 2rem;
    text-align: center; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
}

/* When menu is active */
section.mobile-navigation.open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

section.mobile-navigation.open .menu-content {
    transform: translateY(0);
}

section.mobile-navigation .menu-content img {
    inline-size: 150px;
    margin-inline: auto;
}

section.mobile-navigation .menu-content ul {
    /* As Flex Parent */
    display: flex;
    flex-direction: column;
}

section.mobile-navigation .menu-content ul li {
    display: contents;
}

section.mobile-navigation .menu-content ul li a {
    /* Block */
    background-color: #001832;
    border: 1px solid #FFD200;
    padding-inline: 5px;
    padding-block: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.05rem;
    color:  #FFD200;
    text-align: center;

    /* As Flex Child */
    flex-basis: 90px;

    /* Center text */
    display: flex;
    justify-content: center;
    align-items: center;
}

section.mobile-navigation .menu-content ul li a:focus, 
section.mobile-navigation .menu-content ul li a:hover {
    background-color: #002d5e;
    border: 2px dashed #FFD200;
}

section.mobile-navigation .menu-content ul li a:active {
    background-color: #045cb9;
    border: 1px dashed red;
}
/* Navigation bar for mobile: End */

/*
##############################################
##############################################
######                                  ######
######            Footer                ######
######                                  ######
##############################################
##############################################
*/
footer {
    background-color: rgb(150, 3, 3);
    padding: 20px;

    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Footer Child 1: Start */
footer > h1 {
    text-align: center;
}
/* Footer Child 1: End */

/* Footer Child 2: Start */
footer > .links {
    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer > .links > img {
    inline-size: 150px;
    block-size: 150px;
}

footer > .links > p {
    text-align: center;
    font-size: 0.9rem;
}

/* .links Child: Start */
footer > .links  > ul {
    /* As Flex Parent */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer > .links > ul > li {
    display: contents;
}

footer > .links > ul > li a {
    inline-size: 30px;
    block-size: 30px;
    transition: filter 0.3s ease-in-out; /* smooth effect */
}

footer > .links > ul > li a:focus, 
footer > .links > ul > li a:hover {
    filter: invert(100%) brightness(1.2) contrast(1.2);
    inline-size: 25px;
    block-size: 25px;
}

footer > .links > ul > li a:active {
    filter: invert(50%) brightness(1.2) contrast(1.2);
}
/* .links Child: End */
/* Footer Child 2: End */

/*
##############################################
##############################################
######                                  ######
######            HomePage              ######
######                                  ######
##############################################
##############################################
*/
main#home > * {
    margin-block-end: 50px;
}

main#home > *:last-of-type {
    margin-block-end: 0px;
}
/*
##############################################
######       Slideshow Component        ######
##############################################
*/
#slide-show .image-container {
    /* Position */
    position: relative;
    inline-size: 100%;
    block-size: 500px;
}

#slide-show .image-container img {
    /* Position */
    position: absolute;
    inline-size: 100%;
    block-size: 100%;

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    /* transition */
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* fade */
    
}

#slide-show .image-container img.active {
    opacity: 0.5;
}

#slide-show h1 {
    /* Position */
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 30%;
    z-index: 1;
}
/*
##############################################
######    Featured Styles Component     ######
##############################################
*/
#featured-styles .featured {
    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Featured Styles Child 1: Start */
#featured-styles .featured .excellence {
    text-align: center;

    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Featured Styles Child 1: End */

/* Featured Styles Child 2: Start */
#featured-styles .featured .images {
    /* As Flex Parent */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#featured-styles .featured .images > img {
    /* As Flex Child */
    inline-size: 150px;
    block-size: 150px;
    object-fit: cover;

    border-radius: 5px;
    border: 1px solid #FFD200;
}
/* Featured Styles Child 2: End */
/*
##############################################
######    Service Desc Component        ######
##############################################
*/
#service-description {
    background-color: rgba(255, 210, 0, 0.5); /* 50% transparent black */
    padding: 20px;
}

#service-description .featured ul {
    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#service-description .featured ul li {
    display: contents;
}

#service-description .featured ul li a {
    background-color: #001832;
    color: #FFD200;
    border: 1px solid #FFD200;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    min-block-size: 100px;

    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#service-description .featured ul li a:focus, 
#service-description .featured ul li a:hover {
    background-color: #002d5e;
    border: 2px dashed #FFD200;
}

#service-description .featured ul li a:active {
    background-color: #045cb9;
    border: 1px dashed red;
}

#service-description .featured ul li a span:first-child {
    font-size: 1.3rem;
}

/*
##############################################
##############################################
######                                  ######
######          Services Page           ######
######                                  ######
##############################################
##############################################
*/
#service-list {
    margin-block: 20px;
    padding-inline: 20px;
}

#service-list .service {
    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#service-list .service .service-type h2 {
    font-size: 2rem;
    margin-block-end: 5px;
}

#service-list .service .service-type p {
    margin-block-end: 5px;
    word-spacing: 0.2rem;
}

#service-list .service .service-type p::before {
    content: "->"
}

#service-list .service .service-type ul {
    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-block-start: 10px;
}

#service-list .service .service-type ul li {
    /* As Flex Parent */
    display: flex;
    flex-direction: row;
    align-items: center;
}

#service-list .service .service-type ul li span {
    font-size: 0.9rem;
    font-weight: 150;
}

#service-list .service .service-type ul li .dots {
    flex: 1; /* takes up the space between name and price */
    border-bottom: 1px dashed #fff;
    margin: 0 10px;
}

#service-list .service .service-type ul li span:last-of-type {
    margin-inline-start: auto;
}

/*
##############################################
##############################################
######                                  ######
######          Styist Page             ######
######                                  ######
##############################################
##############################################
*/
#all-stylist {
    margin-block: 30px;
}

#all-stylist .stylists-information ul {
    /* As Flex Parent */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding-inline: 20px;
}

#all-stylist .stylists-information ul > li img {
    block-size: 150px;
    inline-size: 150px;
    object-fit: cover;
    border: 5px solid #FFD200;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
}

#all-stylist .stylists-information ul > li p {
    block-size: 80px;
    background-color: #FFD200;
    color: #002d5e;
    font-size: 1rem;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    text-align: center;
    padding-block-start: 20px;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

/*
##############################################
##############################################
######                                  ######
######            Contact               ######
######                                  ######
##############################################
##############################################
*/
#location-list {
    margin-block: 30px;
}

#location-list .location {
    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    margin-inline: 10px;
    text-align: center;
}

#location-list .location h2,
#location-list .location .address,
#location-list .location .phone {
    margin-block-end: 5px;
}

#location-list .location .phone {
    color: orange;
    font-size: 1.5rem;
}

#location-list .location .map {
    inline-size: 300px;
    block-size: 300px;
    border-radius: 15px;
    border: 2px solid #FFD200;
    margin-block-start: auto;
}

#location-list .location .opening-hours {
    border-block-start-style: dashed;
    border-block-start-width: 2px;
    margin-block-start: 15px;
}

#location-list .location .opening-hours h3 {
    font-size: 1.1rem;
}

/*
##############################################
##############################################
######                                  ######
######          Not Found Page          ######
######                                  ######
##############################################
##############################################
*/
main#not-found {
    display: flex;
    justify-content: center;
    align-items: center;

    min-block-size: 500px;
}

main#not-found > p {
    font-size: 2rem;
    font-weight: bolder;
}

/*
##############################################
##############################################
######                                  ######
######              Login               ######
######                                  ######
##############################################
##############################################
*/
#login-admin {
    block-size: 500px;

    /* As Flex Parent: Center the form */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-admin ul {
    /* As Flex Parent */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login-admin ul > li {
    /* As Flex Parent */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#login-admin ul > li label {
    min-inline-size: 100px; 
    text-align: right;       
    margin-inline-end: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
}

#login-admin ul > li button {
    inline-size: 200px;
    block-size: 40px;
    font-size: 1.2rem;
}


/*
##############################################
##############################################
######                                  ######
######          Media Queries           ######
######                                  ######
##############################################
##############################################
*/
/* ≥ 667px — Phone Horizontal / small landscape phones */
@media screen and (min-width: 667px) and (orientation: landscape) {
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            Footer                ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    footer {
        flex-direction: row;
    }

    footer > h1 {
        /* As Flex Child */
        flex: 1 1 30%;

        /* Center vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer > .links {
        /* As Flex Child */
        flex: 1 1 70%;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            HomePage              ######
    ######                                  ######
    ##############################################
    ##############################################
    */    
    /*
    ##############################################
    ######    Featured Styles Component     ######
    ##############################################
    */
    #featured-styles .featured .images > img {
        inline-size: 200px;
        block-size: 200px;

    }

    /*
    ##############################################
    ######    Service Desc Component        ######
    ##############################################
    */
    #service-description .featured ul {
        /* As Flex Parent */
        flex-direction: row;
    }

    #service-description .featured ul li a {
        inline-size: 300px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Services Page           ######
    ######                                  ######
    ##############################################
    ##############################################
    */

    #service-list {
        margin-block: 40px;
        padding-inline: 30px;
    }

    #service-list .service .service-type ul li span {
        font-size: 1.3rem;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Styist Page             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #all-stylist .stylists-information ul {
        /* As Flex Parent */
        gap: 40px;
    }

    #all-stylist .stylists-information ul > li img {
        block-size: 200px;
        inline-size: 200px;
    }

    #all-stylist .stylists-information ul > li p {
        block-size: 100px;
        font-size: 1.2rem;
        padding-block-start: 30px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            Contact               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #location-list .location .map {
        inline-size: 500px;
        block-size: 500px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######              Login               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #login-admin {
        block-size: 200px;
    }
}

/* ≥ 768px — Tablet Vertical */
@media screen and (min-width: 768px) and (orientation: portrait) {
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            Footer                ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    footer {
        flex-direction: row;
    }

    footer > h1 {
        /* As Flex Child */
        flex: 1 1 30%;

        /* Center vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer > .links {
        /* As Flex Child */
        flex: 1 1 70%;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            HomePage              ######
    ######                                  ######
    ##############################################
    ##############################################
    */    
    /*
    ##############################################
    ######    Featured Styles Component     ######
    ##############################################
    */
    #featured-styles .featured {
        /* As Flex Parent */
        flex-direction: row;
    }
    /* Featured Styles Child 1: Start */
    #featured-styles .featured .excellence {
        margin-inline-start: 10px;

        /* As Flex Child */
        flex: 1 1 35%;   /* flex-grow, flex-shrink, flex-basis */
    }
    /* Featured Styles Child 1: End */

    /* Featured Styles Child 2: Start */
    #featured-styles .featured .images {
        /* As Flex Parent */
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        
        /* As Flex Child */
        flex: 2 1 65%;   /* will expand to fill the rest */
    }
    #featured-styles .featured .images > img {
        /* As Flex Child */
        inline-size: 150px;
        block-size: 150px;
    }
    /* Featured Styles Child 2: End */

    /*
    ##############################################
    ######    Service Desc Component        ######
    ##############################################
    */
    #service-description .featured ul {
        /* As Flex Parent */
        flex-direction: row;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Services Page           ######
    ######                                  ######
    ##############################################
    ##############################################
    */

    #service-list {
        margin-block: 40px;
        padding-inline: 70px;
    }

    #service-list .service .service-type ul li span {
        font-size: 1.25rem;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Styist Page             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #all-stylist .stylists-information ul {
        /* As Flex Parent */
        gap: 20px;
    }

    #all-stylist .stylists-information ul > li img {
        block-size: 200px;
        inline-size: 180px;
    }

    #all-stylist .stylists-information ul > li p {
        block-size: 100px;
        font-size: 1.3rem;
        padding-block-start: 30px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            Contact               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #location-list .location {
        flex-direction: row;
    }

    #location-list .location .map {
        inline-size: 300px;
        block-size: 400px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######              Login               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #login-admin {
        block-size: 700px;
    }

    #login-admin ul > li label {
        min-inline-size: 200px; 
        margin-inline-end: 20px;
        font-size: 1.4rem;
    }

    #login-admin ul > li input {
        inline-size: 300px;
    }

    #login-admin ul > li button {
        inline-size: 300px;
        font-size: 1.4rem;
    }
}

/* ≥ 1024px — Tablet Horizontal (also small laptops) */
@media screen and (min-width: 1024px) and (orientation: landscape) {
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            HomePage              ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    /*
    ##############################################
    ######       Slideshow Component        ######
    ##############################################
    */
    #slide-show .image-container {
        block-size: 600px;
    }

    #slide-show .image-container img {
        object-fit: contain;
    }

    #slide-show h1 {
        font-size: 2.5rem;
    } 

    /*
    ##############################################
    ######    Featured Styles Component     ######
    ##############################################
    */
    #featured-styles .featured {
        /* As Flex Parent */
        flex-direction: row;
    }
    /* Featured Styles Child 1: Start */
    #featured-styles .featured .excellence {
        margin-inline-start: 10px;

        /* As Flex Parent */
        justify-content: center;
        align-items: center;

        /* As Flex Child */
        flex: 1 1 35%; 
    }

    #featured-styles .featured .excellence p {
        line-height: 2;
    }
    /* Featured Styles Child 1: End */

    /* Featured Styles Child 2: Start */
    #featured-styles .featured .images {
        /* As Flex Parent */
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        
        /* As Flex Child */
        flex: 2 1 65%;   /* will expand to fill the rest */
    }
    #featured-styles .featured .images > img {
        /* As Flex Child */
        inline-size: 200px;
        block-size: 200px;
    }
    /*
    ##############################################
    ######    Service Desc Component        ######
    ##############################################
    */
    /* Featured Styles Child 2: End */
    #service-description .featured ul li a {
        inline-size: 400px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Services Page           ######
    ######                                  ######
    ##############################################
    ##############################################
    */

    #service-list {
        margin-block: 60px;
        padding-inline: 50px;
    }

    #service-list .service .service-type ul li span {
        font-size: 1.5rem;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Styist Page             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #all-stylist .stylists-information ul {
        /* As Flex Parent */
        gap: 30px;
    }

    #all-stylist .stylists-information ul > li img {
        block-size: 300px;
        inline-size: 270px;
    }

    #all-stylist .stylists-information ul > li p {
        block-size: 100px;
        font-size: 1.3rem;
        padding-block-start: 30px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            Contact               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #location-list .location h2 {
        font-size: 2rem;
    }
        
    #location-list .location {
        flex-direction: row;
    }

    #location-list .location > * {
        inline-size: 450px;
    }

    #location-list .location .map {
        inline-size: 350px;
        block-size: 435px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######              Login               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #login-admin {
        block-size: 700px;
    }

    #login-admin ul > li label {
        min-inline-size: 200px; 
        margin-inline-end: 20px;
        font-size: 1.5rem;
    }

    #login-admin ul > li input {
        inline-size: 300px;
        block-size: 40px;
    }

    #login-admin ul > li button {
        inline-size: 300px;
        font-size: 1.5rem;
    }
}

/* ≥ 1920px — Desktop (Full HD and up) */
@media screen and (min-width: 1500px) {
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            HomePage              ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    /*
    ##############################################
    ######    Featured Styles Component     ######
    ##############################################
    */
    #featured-styles .featured {
        margin-inline: 100px;
        gap: 20px;
    }

    #featured-styles .featured .images > img {
        inline-size: 270px;
        block-size: 270px;
    }
    
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Services Page           ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    #service-list {
        margin-block: 60px;
        padding-inline: 200px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            Contact               ######
    ######                                  ######
    ##############################################
    ##############################################
    */

    #location-list .location > * {
        inline-size: 600px;
    }

    #location-list .location .map {
        inline-size: 400px;
        block-size: 500px;
    }
}